body.page--forgot-password {
    main.main {
        text-align: center;

        @media screen and (min-width: $screen-sm-min) {
            text-align: left;
        }
    }

    h1 {
        @media screen and (min-width: $screen-sm-min) {
            text-align: left;
        }
    }
}
