body.page--how-it-helps {

    h3.text--small-heading {
        margin-bottom: 5px;
        font-size: 18px;
        color: $color-brand-green;
    }

    .box.space--full-below {
        margin-bottom: 60px;
    }
}
