.stats {
    display: table;
    width: 100%;
    @include clearfix;
}

.stats__col {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    margin: 0;
    padding: 0 15px 0 0;

    + .stats__col {
        position: relative;
        z-index: 90;
        padding-left: 15px;
        padding-right: 0;

        &:before {
            content: "";
            position: absolute;
            top: -15px;
            bottom: -32px;
            left: -2px;
            display: block;
            width: 4px;
            background-color: $color-gray-bg;
        }
    }
}

.stats__col {
    + .stats__col--no-border {
        &:before {
            content: initial;
            display: none;
        }
    }
}

.stats__row {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.stats__text {
    display: block;
    font-family: $font-futura-heavy;
    color: $color-brand-green;
}

.stats__text--large {
    font-size: 28px;

    @media screen and (min-width: $screen-sm-min) {
        font-size: 30px;
    }

    @media screen and (min-width: $screen-md-min) {
        font-size: 36px;
    }
}

.stats__text--medium {
    font-size: 20px;

    @media screen and (min-width: $screen-sm-min) {
        font-size: 20px;
    }

    @media screen and (min-width: $screen-md-min) {
        font-size: 24px;
    }
}

.stats__text--small {
    font-size: 12px;

    @media screen and (min-width: $screen-sm-min) {
        font-size: 12px;
    }

    @media screen and (min-width: $screen-md-min) {
        font-size: 18px;
    }
}
